<IfModule mod_rewrite.c>
    #this cuases public/public/public
    #<IfModule mod_negotiation.c>
        #Options -MultiViews -Indexes
    #</IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    #RewriteCond %{HTTPS} on
    #RewriteCond %{HTTP:X-Forwarded-SSL} !on
    #RewriteCond %{HTTP_HOST} ^gbicares\.com$ [OR]
    #RewriteCond %{HTTP_HOST} ^www\.gbicares\.com$
    #RewriteRule ^(.*)$ "https\:\/\/gbicares\.com\/$1" [R=301,L]
</IfModule>
